{{> head}}
<div class="ui container">
<div class="ui accordion">
  {{#each recipes}}
  <div class="title">
    <i class="dropdown icon"></i>
    {{name}}
  </div>
  <div class="content">
    <p>{{description}}</p>
  </div>
  {{/each}}
</div>
</div>
{{> footer}}